<ul>
    <li><a href='/motors/' title='View the PHP Motors home page'>Home</a></li>
    <li id="vehicle-list"><a href="#" title="View our list of vehicles">Vehicles</a>
        <ul>
            <li>
                <a href='/motors/?action=Classic' title='View our Classic product line'>
                    Classic
                </a>
            </li>
            <li>
                <a href='/motors/?action=Sports' title='View our Sports product line'>
                    Sports
                </a>
            </li>
            <li>
                <a href='/motors/?action=SUV' title='View our SUV product line'>
                    SUV
                </a>
            </li>
            <li>
                <a href='/motors/?action=Trucks' title='View our Trucks product line'>
                    Trucks
                </a>
            </li>
            <li>
                <a href='/motors/?action=Used' title='View our Used product line'>
                    Used
                </a>
            </li>
        </ul>
    </li>
</ul>